 .carousel-container{
    overflow-x:hidden;
    overflow-y: visible;
    height: 440px;
 }

 @media (max-width:480px)  { 
    .carousel-container{
        height:250px;
        display: flex;
        justify-content: space-between;
    }
 }